<div class="container-characters">
  <div class="characters-bar">
    <div class="characters-title">
      <img src="../../../assets/icons/characters.png" alt="" />
      <h1>Characters</h1>
    </div>
    <div class="characters-sort">
      <input type="search" placeholder="Sort by" />
      <a href=""
        ><img src="../../../assets/icons/1btn_arrow_down.png" alt=""
      /></a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6" *ngFor="let character of allCharacters | async">
        <app-character [character]="character"></app-character>
      </div>
    </div>
  </div>
</div>
